#structure{
		width:900px;
		
		border:solid 3px #000;
		margin:0 auto;
		overflow: auto;
}
#banner{
		padding-top: 10px;
		width:90%;
		height:28px;
		border:solid .5px #000;
		margin:0 auto;
}
h2#nycdt{ 
	width:900px;
	font-weight: bold;
}

h2#nycdt, .article p, .article h3 {
	text-align: center;
}

.navigation ul{
	margin: 0 auto;
	height:30px;
	width: 800px;
	border: 1px solid;
	box-shadow: 5px 5px 5px 5px #F5F9FF;
}

.navigation li{
	font-size: 20px;
	list-style-type: none;
    text-decoration: none;
	display:inline-block;
	width:15%;
}
.navigation a{
	text-decoration: none;
	color: gray;

}

.article p{
	font-weight: bolder;
}

.article h3{
    font-size: 25px;
}
.article img{
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 10px;
}

.article {
	margin: 10px;
	float:left;
	width: 47.779%;
	min-height:400px;
	border: 1px solid black;
	box-sizing: border-box;
}


.center {
	text-align: center;


	margin: 0 auto;
	width: 200px;
}


.footer {
	border: 2px solid;
  	width: 900px;
  	height: 100px;
  	margin: 0 auto;

}














